* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#nav-bar a:hover {
  background: lightseagreen;
  border-radius: 4px;
}

/* Home Section */

#home {
  background-image: url(./pics/lb.jpg);
  background-size: 100% 100%;
}

.hh {
  font-family: "Rubik Wet Paint", cursive;
}

/* About Section */
#ap {
  height: 300px;
  width: 250px;
}

/* Skills Section */
.icons {
  color: white;
  font-size: 10rem;
  height: 16rem;
  width: 14rem;
  text-align: center;
  position: relative;
}

.ih {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

.icons:hover .ih {
  opacity: 1;
}

/* projects section */
.pi {
  position: relative;
}
.pro {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.9) 50%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}
.pi:hover .pro {
  opacity: 1;
}
/* Testimonials Section */
.card {
  position: relative;
}
.card-img-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.6) 50%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}
.card:hover .card-img-overlay {
  opacity: 1;
}
