* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Catamaran", sans-serif;
}

/* Navbar */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#nav-bar a:hover {
  background: lightseagreen;
  border-radius: 4px;
}

/* Home Section */

#home {
  background-image: url(./pics/lb.jpg);
  background-size: 100% 100%;
}

.hh {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 50px;
}

/* About Section */
#ap {
  height: 320px;
  width: 280px;
}

/* Skills Section */
.icons {
  color: #0d6efd;
  font-size: 10rem;
  height: 16rem;
  width: 14rem;
  text-align: center;
  position: relative;
}

.ih {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(247, 247, 247, 0) 100%
  );
  color: #0d6efd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

.icons:hover .ih {
  opacity: 1;
}

/* projects section */
#propic {
  height: 400px;
  width: 300px;
}

.pi {
  position: relative;
  height: 400px;
  width: 300px;
}

.pro {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.9) 50%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}
.pi:hover .pro {
  opacity: 1;
}

/* Testimonials Section */
#testpic {
  height: 400px;
  width: 300px;
}
.friend {
  position: relative;
  height: 400px;
  width: 300px;
}

.friend-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.7) 50%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.5s linear;
}

.friend:hover .friend-details {
  opacity: 1;
}

/* Contact section */
.fa-solid {
  color: #0d6efd;
}

#button {
  background-color: transparent;
  border: 3px solid #0d6efd;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: ;
}
#button:hover {
  box-shadow: 0 0 10px 0 rgb(27, 159, 211) inset, 0 0 20px 2px rgb(27, 159, 211);
  border: 3px solid rgb(27, 159, 211);
}

/* modal */

footer {
  height: 3rem;
  width: 100%;
  background-color: #0d6efd;
  text-align: center;
  font-size: 20px;
}
